@charset "utf-8"; 
/*Formatacao principal do site */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
} 
 /* editing o painel principal do site */
header li {
  display: inline;
  
}
.articles {
  display: flex;
}

.conteiner  {
  width:1366px;
  margin:0 auto;
  
}

.articles article  img  {
  height:180px;
}

.articles article{
  width:30%;
}